{% extends 'productos/base.html' %}
{% load static %}

{% block title %}Inicio{% endblock %}

{% block content %}
<div class="container py-5">
    <h1 class="fw-bold text-center mb-4">Bienvenidos a Irida Studio</h1>
    <p class="text-center fs-5">Descubre nuestros productos personalizados</p>

    <div class="row">
        {% for producto in productos %}
<div class="col-md-4">
    <div class="card shadow">
        {% if producto.imagen and producto.imagen.name %}
            <img src="{{ producto.imagen.url }}" class="card-img-top img-fluid" alt="{{ producto.nombre }}">
        {% else %}
            <img src="{% static 'img/default-image.jpg' %}" class="card-img-top img-fluid" alt="Imagen no disponible">
        {% endif %}
        <div class="card-body text-center">
            <h5 class="card-title">{{ producto.nombre }}</h5>
            <p class="card-text text-muted">{{ producto.descripcion }}</p>
            <a href="{% url 'detalle_producto' producto.pk %}" class="btn btn-primary">Ver Más</a>
        </div>
    </div>
</div>
{% endfor %}

    </div>
</div>
{% endblock %}
